.navbar {
  background-color: rgba(0, 0, 0, 0.5); /* Black with 70% opacity */
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  /* backdrop-filter: blur(5px);  */
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
}

.navbar-logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.nav-menu {
  display: flex;
  list-style: none;
}

.nav-item {
  margin-right: 70px;
}

.nav-links {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s ease;
  cursor: pointer;
}

.nav-links:hover {
  color: #f0a500;
}
